<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Be-Music West {% block title %}{% endblock %}</title>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One|Alegreya+Sans' rel='stylesheet' type='text/css'>
		{% block head %}
		{% endblock %}
	</head>
	<body style="padding:0px;margin:0px;">
		<nav class="navbar navbar-default" style="padding:0px;margin:0px;">
			<div class="container-fluid" style="padding:0px;margin:0px;">
				<div class="col-sm-10" style="padding:0px;margin:0px;">
					<h1 style="padding:0px;margin:0px;">
						<img src="http://echo.s-ul.eu/YGzzTGU8.png" alt="" style="width:100%;"/>
					</h1>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<a href="/index/">
									<strong>Home</strong>
								</a>
							</li>
							<li>
								<a href="/rules/">
									<strong>Rules</strong>
								</a>
							</li>
							<li>
								<a href="/submit/">
									<strong>Submit</strong>
								</a>
							</li>
							<li>
								<a href="/impressions/">
									<strong>Songs List</strong>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<div style={% block style %}"float:left; height: 100%;" {% endblock %}>
			<div class="col-md-8">
				{% block content_head %} {% endblock %}
				<p style="font-family: 'Alegreya Sans'">
					{% block content %} {% endblock %}
				</p>
			</div>
		</div>
	</body>
</html>
